markdowm
# header
## header
### header
###### header

A type of identifier.

Rules for naming identifiers:

The first character of the identifier must be a letter of the alphabet (uppercase ASCII or lowercase ASCII or Unicode character) or an underscore (_).

The rest of the identifier name can consist of letters (uppercase ASCII or lowercase ASCII or Unicode character), underscores (_) or digits (0-9).

Identifier names are case-sensitive. For example, myname and myName are not the same. Note the lowercase n in the former and the uppercase N in the latter.

In [1]:
### comment

In [10]:
a = 5
b = 10
_apple_ = 78
A =12

In [12]:
A

12

In [17]:
a

b
A

12

In [15]:
print("hello world")

hello world

In [19]:
print(a)
print(b)
print(A)

5
10
12

+ , - , / , % , //

In [23]:
print(a , b)
print(a+b)
print(a-b)
print(a*b)
print(b/a)
print(11%3)
print(11//3)

5 10
15
-5
50
2.0
2
3

In [26]:
print(5**3)

125

In [27]:
a , b,  c = 12,23,45

In [28]:
print(a , b , c)

12 23 45

In [30]:
"""this is
a 
multi 
line comment"""
string = """this is
a 
multi 
line cooment"""

In [32]:
rain =True
# and in or not
temprature = 30
outing = rain and temprature >=30
print(outing)

True

In [33]:
#if else

In [41]:
weather = input("whats the weather today: ")
if weather == "rainy":
    print("Dont go for playing")
elif weather == "cool":
    print("play cricket")
else:
    print("go shopping")

whats the weather today: sunny
go shooping

In [38]:
weather

'rainy'

In [44]:
#for loop and while
n = 10
i=1

while i<=n:
    print("step : %d"%i)
    i+=1

step : 1
step : 2
step : 3
step : 4
step : 5
step : 6
step : 7
step : 8
step : 9
step : 10

In [52]:
for i in range(1,12,2):
    print("step : %d"%i)

step : 1
step : 3
step : 5
step : 7
step : 9
step : 11

In [53]:
for i in [1,3,5,7,9,11]:
    print("step : %d"%i)

step : 1
step : 3
step : 5
step : 7
step : 9
step : 11

In [50]:
for i in range(11,0,-2):
    print("step : %d"%i)

step : 11
step : 9
step : 7
step : 5
step : 3
step : 1

In [54]:
max([1,2,3,45,6,7123,56])

7123

In [60]:
a = 12
print(type(a))
b = float(a)
print(type(b))
c = str(a)
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [62]:
string = "w"
print(int(string))

ValueError: invalid literal for int() with base 10: 'w'

In [68]:
def hello(name):
    print("hello world " , name)

In [69]:
hello("wac")

hello world  wac

In [76]:
def factorial(n):
    ans = 1
    for i in range(1,n+1):
        ans*=i
    return ans

In [77]:
# ans = ans +1
# ans+=1
# ans = +1

In [80]:
factorial(5)

120

In [90]:
# def isprime(n):
#     for i in range(2,n):
#         if(n%)
import math     
def isprime(n):
    if n==1 or n==2:
        return(True)
    if(n%2==0):
        return False
    for i in range(2,mathsqrt(n),2):
        if n%i==0:
            return(False)
    return(True)

In [91]:
isprime(100)

False

In [92]:
def fact(n):
    if n==0:
        return 1
    return n*fact(n-1)

In [93]:
fact(4)

24

# Tuples

In [97]:
tup = (1,2,3,"hello" ,2.3,True)
print(type(tup))
print(tup)
tup[2] = 8

<class 'tuple'>
(1, 2, 3, 'hello', 2.3)

TypeError: 'tuple' object does not support item assignment

In [105]:
tup1 = (2,3,4,5)
tup2 = (4,5,6,7)
tup3 = (tup1+tup2)
tup3

(2, 3, 4, 5, 4, 5, 6, 7)

In [106]:
# del tup

In [107]:
tup4 = tup1*3
tup4

(2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5)

In [108]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [111]:
#dictionary 
dic = {"Mango":120, "Apple" : 120 , "orange":[12,23]}
dic

{'Mango': 120, 'Apple': 120, 'orange': [12, 23]}

In [113]:
dic["Mango"] = 90
dic

{'Mango': 90, 'Apple': 120, 'orange': [12, 23]}

In [115]:
dic["orange"] = 12
dic

{'Mango': 90, 'Apple': 120, 'orange': 12}

In [116]:
dic["Banana"] = {"low":12,"medium":14,"high":16}
dic

{'Mango': 90,
 'Apple': 120,
 'orange': 12,
 'Banana': {'low': 12, 'medium': 14, 'high': 16}}

In [117]:
dic["Banana"]["low"] = 11
dic

{'Mango': 90,
 'Apple': 120,
 'orange': 12,
 'Banana': {'low': 11, 'medium': 14, 'high': 16}}

In [120]:
dic["Banana"]["medium"] = 11

14

In [121]:
dic.keys()

dict_keys(['Mango', 'Apple', 'orange', 'Banana'])

In [123]:
dic.values()

dict_values([90, 120, 12, {'low': 11, 'medium': 14, 'high': 16}])

In [127]:
for i in dic.keys():
    print(i, ":",dic[i])

Mango : 90
Apple : 120
orange : 12
Banana : {'low': 11, 'medium': 14, 'high': 16}

In [128]:
dic.clear()

In [129]:
dic

{}

In [130]:
## set

In [134]:
s = set([1,1,1,1,4,5,6,4,4,4,1,2,2,2,2,2,2,3,3,3,3,3])
print(s)

{1, 2, 3, 4, 5, 6}

In [135]:
if 1 in s:
    print("found")
else:
    print("not found")

found

In [136]:
s.add(7)
s

{1, 2, 3, 4, 5, 6, 7}

In [137]:
s.add?

In [138]:
#list
ls = [1,2,3,1,4,"c","day" ,7.9]

In [142]:
print(type(ls))

<class 'list'>

In [141]:
ls

[1, 2, 3, 1, 4, 'c', 'day', 7.9]

In [143]:
ls[0] = 12
ls

[12, 2, 3, 1, 4, 'c', 'day', 7.9]

In [147]:
ls[-2]

'day'

In [170]:
ls2 = [1,2,3,4,5,5,5,5,5,6,6,6,6,6]
print(ls+ls2)

[12, 2, 3, 1, 4, 'c', 'day', 7.9, 1, 2, 3, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6]

In [155]:
for  i in range(len(ls2)):
    ls2[i]+=1

In [156]:
ls2

[2, 3, 4, 5, 6]

In [157]:
ls2[:2]

[2, 3]

In [159]:
ls2[2:]

[4, 5, 6]

In [160]:
ls2.append(7)

In [161]:
ls2

[2, 3, 4, 5, 6, 7]

In [163]:
del ls2[0]

In [164]:
ls2

[3, 4, 5, 6, 7]

In [165]:
min(ls2)

3

In [166]:
max(ls2)

7

In [171]:
ls2.count(max(ls2))

5

In [172]:
ls3  = [2,6,4,2,4,8,9,3]
ls3 = sorted(ls3)

In [173]:
ls3

[2, 2, 3, 4, 4, 6, 8, 9]